<mat-toolbar>
    <span>Enroll Student</span>
    <button (click)="close()" class="btn-dialog-close" mat-stroked-button style="margin-right:1px; " tabindex="-1">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<form (submit)="enrollStudent()" [formGroup]="studentService.courseForm">

    <input formControlName="id" type="hidden">
    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile>
            <input formControlName="student_id" type="hidden">
            <mat-form-field style="width: 100%;">
                <mat-label>Courses</mat-label>
                <mat-select formControlName="course_id" multiple>
                    <mat-option *ngFor="let course of courses" [value]="course.id">{{course.course_name}}</mat-option>
                </mat-select>
            </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile>
            <div class="button-row">
                <button color="primary" mat-raised-button type="submit">Submit</button>
                <button (click)="onClear()" color="warn" mat-raised-button>Clear</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>


</form>