<div class="page-layout simple fullwidth docs" style="padding: 10px"  style="background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #abbaab);">

    <img mat-card-image src="../../../assets/images/backgrounds/Student.jpg" style="height: 20%"
         alt="Photo cover for students">

    <button (click)="create()" mat-raised-button  color="accent" style="width: 350px;
    margin: auto;font-size: 19px">
        <mat-icon>add</mat-icon>
        Add Student
    </button>
    <mat-form-field class="search-form-field">
        <mat-label>Filter</mat-label>
        <input #input (keyup)="applyFilter($event)" matInput placeholder="Search a keyword of any student">

    </mat-form-field>
    <div *ngIf="dataSource" class="mat-elevation-z8">


        <mat-paginator [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons></mat-paginator>

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 19px">ID #</mat-header-cell>
                <mat-cell *matCellDef="let element" style="font-size: 19px;">{{element.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="first_name">
                <mat-header-cell *matHeaderCellDef="let element" mat-sort-header style="font-size: 19px">First Name</mat-header-cell>
                <mat-cell *matCellDef="let element" style="font-size: 19px">{{element.first_name}}</mat-cell>

            </ng-container>
            <ng-container matColumnDef="last_name">
                <mat-header-cell *matHeaderCellDef="let element" mat-sort-header style="font-size: 19px"> Last Name</mat-header-cell>
                <mat-cell *matCellDef="let element" style="font-size: 19px">{{element.last_name}}</mat-cell>

            </ng-container>
            <ng-container matColumnDef="gender">
                <mat-header-cell *matHeaderCellDef="let element" mat-sort-header style="font-size: 19px">Gender</mat-header-cell>
                <mat-cell *matCellDef="let element" style="font-size: 19px">{{element.gender}}</mat-cell>

            </ng-container>
            <ng-container matColumnDef="phone_number">
                <mat-header-cell *matHeaderCellDef="let element" mat-sort-header style="font-size: 19px">Phone Number</mat-header-cell>
                <mat-cell *matCellDef="let element" style="font-size: 19px">{{element.phone_number}}</mat-cell>

            </ng-container>
            <ng-container matColumnDef="department">
                <mat-header-cell *matHeaderCellDef="let element" mat-sort-header style="font-size: 19px">Department</mat-header-cell>
                <mat-cell *matCellDef="let element" style="font-size: 19px">{{element.department}}</mat-cell>

            </ng-container>
            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef="let element" mat-sort-header style="font-size: 19px"> City</mat-header-cell>
                <mat-cell *matCellDef="let element" style="font-size: 19px">{{element.city}}</mat-cell>

            </ng-container>
            <ng-container matColumnDef="actions" style="font-size: 19px;height: 20%">

                <mat-header-cell *matHeaderCellDef style="font-size: 19px">Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button (click)="openEnrolDialog(row)" *ngIf="row.is_enrolled==null" mat-icon-button color="accent">
                        <mat-icon title="add student">add</mat-icon> Add Student
                    </button>

                </mat-cell>
            </ng-container>
            <!--            <ng-container matColumnDef="loading">-->
            <!--                <mat-footer-cell *matFooterCellDef colspan="6">-->
            <!--                    Loading Data...-->
            <!--                </mat-footer-cell>-->
            <!--            </ng-container>-->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns" style="height: 7em;"></mat-row>
            <tr *matNoDataRow class="mat-row">
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </mat-table>

    </div>
</div>
