<div class="page-layout blank p-24" fusePerfectScrollbar>
    <mat-grid-list cols="12" >
        <mat-grid-tile [colspan]="6" [rowspan]="6">
            <mat-grid-tile-header>All Meetings</mat-grid-tile-header>
<!--            <app-all-meetings></app-all-meetings>-->

        </mat-grid-tile>

        <mat-grid-tile [colspan]="6" [rowspan]="6">
            <mat-grid-tile-header>All Courses</mat-grid-tile-header>
<!--            <app-course></app-course>-->
        </mat-grid-tile>
    </mat-grid-list>


</div>
