<mat-toolbar>
    <span>{{studentService.addStudentForm.controls['id'].value ? "Update Student" : "New Student"}}</span>
</mat-toolbar>
<form (submit)="addStudent()" [formGroup]="studentService.addStudentForm" class="normal-form">
    <button (click)="close()" mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>

    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input formControlName="id" type="hidden">
                <mat-form-field style="width: 50%">
                    <input formControlName="first_name" matInput placeholder="Full Name" required>
                </mat-form-field>
                <mat-form-field style="width: 50%">
                    <input formControlName="last_name" matInput placeholder="Last Name" required>
                    <mat-error>Last Name is mandatory</mat-error>


                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <input formControlName="email" matInput placeholder="Email" required>
                    <mat-error>Email is mandatory</mat-error>

                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <mat-select formControlName="department" placeholder="Department">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let department of departments">
                            <mat-option [value]="department.id">{{department.value}}</mat-option>
                        </ng-container>
                    </mat-select>

                </mat-form-field>
                <br>
                <mat-form-field>
                    <input formControlName="city" matInput placeholder="City" required>
                    <mat-error>City is mandatory</mat-error>

                </mat-form-field>
                <mat-radio-group formControlName="gender" required>
                    <mat-label>Gender</mat-label>
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                    <mat-radio-button value="other">Other</mat-radio-button>
                </mat-radio-group>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field style="width: 100%">
                    <input formControlName="phone_number" matInput placeholder="Phone No:" required>
                    <mat-error>Phone Number is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field style="width: 100%">
                    <input [matDatepicker]="picker" formControlName="date_of_birth" matInput placeholder="Date of Birth"
                           required>
                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>


                <div class="button-row">
                    <button color="primary" mat-raised-button type="submit">Submit
                    </button>
                    <button (click)="onClear()" color="warn" mat-raised-button>Clear</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>


</form>