<mat-toolbar>
    <span>{{courseService.addCourseForm.controls['id'].value ? "Update Course" : "New Course"}}</span>
    <button (click)="close()" class="btn-dialog-close" mat-stroked-button style="margin-right:1px; " tabindex="-1">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<form (submit)="addCourse()" [formGroup]="courseService.addCourseForm">

    <input formControlName="id" type="hidden">
    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile>
            <mat-form-field>
                <input formControlName="course_name" matInput placeholder="Course name" required>
                <mat-error>Course Name is mandatory</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="button-row">
                <button color="primary" mat-raised-button type="submit">Submit</button>
                <button (click)="onClear()" color="warn" mat-raised-button>Clear</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>


</form>