<div class="page-layout simple fullwidth docs" style="padding: 10px">
    <mat-form-field class="search-form-field">
        <mat-label>Filter</mat-label>
        <input #input (keyup)="applyFilter($event)" matInput placeholder="Search a keyword of any student">

    </mat-form-field>
    <div *ngIf="dataSource" class="mat-elevation-z8">


        <mat-paginator [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons></mat-paginator>

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID #</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef="let element" mat-sort-header>Course Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.course_name}}</mat-cell>

            </ng-container>


            <ng-container matColumnDef="actions">

                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a *ngIf="roleType=='student' && row.current_meeting_code" [queryParams]="{course_name:row.course_name, course_id:row.id, course_code:row.current_meeting_code}" color="primary"
                       mat-icon-button
                       routerLink='/conference'>
                        <mat-icon title="JOIN CLASS">read_more</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
            <tr *matNoDataRow class="mat-row">
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </mat-table>

    </div>
</div>
