<mat-toolbar>
    <span>Change Password</span>
</mat-toolbar>
<form (submit)="changePassword()" [formGroup]="changePasswordForm" class="normal-form">

    <mat-grid-list cols="2" rowHeight="100px">
        <div class="controles-container">
            <input formControlName="id" type="hidden">
            <mat-form-field style="width: 50%">
                <input formControlName="new_password" matInput placeholder="New Password" type="password" required>
            </mat-form-field>
            <mat-form-field style="width: 50%">
                <input formControlName="confirm_password" matInput placeholder="Confirm Password" type="password"
                       required>
                <mat-error>Last Name is mandatory</mat-error>


            </mat-form-field>

        </div>

    </mat-grid-list>
    <div class="button-row">
        <button color="primary" mat-raised-button type="submit">Submit
        </button>
        <button (click)="onClear()" color="warn" mat-raised-button>Clear</button>
    </div>
</form>